.holiday-card {
  width: 320px;

  table {
    width: 100%;
    border-collapse: collapse;
  }

  thead {
    th {
      color: #2f3747;
      font-size: 14px;
      font-weight: 600;
      text-align: left;
      padding: 12px 16px;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid #e5e5e5;

      &:last-child {
        border-bottom: none;
      }
    }

    td {
      padding: 10px 16px;
      font-size: 14px;
      color: #2f3747;

      &:first-child {
        width: 45%;
        font-weight: 600;
      }
    }
  }

  .no-holiday {
    color: #666;
  }

  ul {
    margin: 0;
    padding-left: 18px;

    li {
      margin-bottom: 2px;
    }
  }
}

.holiday-card-container {
  .icon-calendar {
    display: flex;
    align-items: center;
    gap: 17px;
    margin-bottom: 20px;

    .add-btn,
    .edit-btn {
      width: 40px;
      height: 40px;
      border: none;
      border-radius: 8px;
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;

      color: #fff;
      transition: all 0.25s ease;

      svg {
        font-size: 30px;
      }

      &:hover {
        transform: translateY(-3px);
      }
    }

    .add-btn {
      background: linear-gradient(135deg, #2de67b 0%, #1bdc67 100%);

      box-shadow: 0 8px 18px rgba(45, 230, 123, 0.35);
    }

    .edit-btn {
      background: linear-gradient(135deg, #62b4ff 0%, #5d4cf6 100%);

      box-shadow: 0 8px 18px rgba(93, 76, 246, 0.35);
    }

    > div {
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 200px;
      height: 60px;

      background: #fff;
      border-radius: 10px;

      padding: 0 10px;

      box-shadow:
        0 2px 8px rgba(0, 0, 0, 0.08),
        0 1px 3px rgba(0, 0, 0, 0.05);

      button {
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 50%;

        background: #fff;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 28px;
        color: #111827;

        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);

        transition: all 0.2s ease;
      }

      span {
        font-size: 30px;
        font-weight: 600;
        color: #111827;
        letter-spacing: 1px;
      }
    }
  }
}
