main {
  .table-container {
    padding: 20px;
  }

  table {
    border-collapse: collapse;
    background: #fff;
    box-shadow: 5px 5px rgba(53, 14, 14, 0.416);
    margin: auto;
  }

  th,
  td {
    border: 1px solid #d8b4f8;
    text-align: center;
    min-width: 30px;
    height: 40px;
    font-size: 15px;
    padding: 3px;
  }

  th {
    background: #d9c2ec;
    color: #4b0082;
  }

  td:first-child,
  th:first-child {
    min-width: 120px;
    text-align: left;
    padding: 0.5rem;
    background: #ddd6e8;
  }

  h4 {
    margin: 0;
    font-size: 17px;
  }

  .present {
    background: #b9f5c6;
    color: #5a0099;
    font-weight: 600;
  }

  .absent {
    background: #f5f5f5;
  }

  .weekend {
    background: #b26dff;
    color: white;
  }

  .today {
    background: #ff6b6b;
    color: white;
  }
}

//**********************************************************
.totals-cell {
  width: 90px;
  min-width: 90px !important;
  padding: 2px !important;
  background: #ddd6e8;
}

.totals-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;

  th,
  td {
    border: 1px solid #cfcfcf;
    width: 22px;
    min-width: 22px;
    height: 18px;
    padding: 0;
    font-size: 11px;
    text-align: center;
  }

  th {
    color: #fff;
    font-weight: 600;
  }

  .p {
    background: #18d84f;
  }

  .half {
    background: #f2a11f;
  }

  .a {
    background: #2f3f55;
  }

  .tp {
    background: #48a8ff;
  }
}

th:last-child {
  width: 75px;
  min-width: 75px;
}
