.employee-create-page {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  padding: 30px 60px;

  display: flex;
  flex-direction: column;
  gap: 30px;

  background: #fff;

  border-radius: 16px;

  box-shadow:
    0 4px 8px rgba(0, 0, 0, 0.326),
    0 10px 25px rgba(0, 0, 0, 0.183);

  transition:
    transform 0.3s ease,
    box-shadow 0.3s ease;
}
.basic-info {
  background: #fff;

  > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px 20px;
  }

  h2 {
    grid-column: 1 / -1;

    margin: 0 0 8px;
    padding-bottom: 6px;

    font-size: 1.3rem;
    font-weight: 600;

    color: #16a34a;
    border-bottom: 1px solid #22c55e;
  }

  > div > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  label {
    font-size: 1rem;
    font-weight: 500;
    color: #1f2937;
  }

  input,
  select {
    width: 100%;
    height: 36px;

    padding: 0 10px;

    border: 1px solid #d1d5db;
    border-radius: 5px;

    font-size: 0.85rem;

    background: #fff;
    outline: none;

    transition: all 0.2s ease;
  }

  input:focus,
  select:focus {
    border-color: #22c55e;
    box-shadow: 0 0 0 2px rgba(34, 197, 94, 0.08);
  }

  select {
    cursor: pointer;
  }

  @media (max-width: 768px) {
    padding: 18px;

    > div {
      grid-template-columns: 1fr;
    }

    h2 {
      font-size: 1.15rem;
    }
  }
}

.identification-info {
  width: 100%;
  background: #fff;

  > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px 20px;
  }

  h2 {
    grid-column: 1 / -1;

    margin: 0 0 8px;
    padding-bottom: 6px;

    font-size: 1.3rem;
    font-weight: 600;

    color: #16a34a;
    border-bottom: 1px solid #22c55e;
  }

  > div > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  label {
    font-size: 0.85rem;
    font-weight: 500;
    color: #1f2937;
  }

  input {
    width: 100%;
    height: 36px;

    padding: 0 10px;

    border: 1px solid #d1d5db;
    border-radius: 5px;

    font-size: 0.85rem;

    background: #fff;
    outline: none;

    transition: all 0.2s ease;
  }

  input:focus {
    border-color: #22c55e;
    box-shadow: 0 0 0 2px rgba(34, 197, 94, 0.08);
  }

  @media (max-width: 768px) {
    padding: 18px;

    > div {
      grid-template-columns: 1fr;
    }

    h2 {
      font-size: 1.15rem;
    }
  }
}

.address-info {
  width: 100%;
  background: #fff;

  > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px 20px;
  }

  h2 {
    grid-column: 1 / -1;

    margin: 0 0 8px;
    padding-bottom: 6px;

    font-size: 1.3rem;
    font-weight: 600;

    color: #16a34a;
    border-bottom: 1px solid #22c55e;
  }

  > div > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  label {
    font-size: 0.85rem;
    font-weight: 500;
    color: #1f2937;
  }

  input {
    width: 100%;
    height: 36px;

    padding: 0 10px;

    border: 1px solid #d1d5db;
    border-radius: 5px;

    font-size: 0.85rem;

    background: #fff;
    outline: none;

    transition: all 0.2s ease;
  }

  input:focus {
    border-color: #22c55e;
    box-shadow: 0 0 0 2px rgba(34, 197, 94, 0.08);
  }

  @media (max-width: 768px) {
    padding: 18px;

    > div {
      grid-template-columns: 1fr;
    }

    h2 {
      font-size: 1.15rem;
    }
  }
}

.bank-details {
  width: 100%;
  background: #fff;

  > div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 14px 20px;
  }

  h2 {
    grid-column: 1 / -1;

    margin: 0 0 8px;
    padding-bottom: 6px;

    font-size: 1.2rem;
    font-weight: 600;

    color: #16a34a;
    border-bottom: 1px solid #22c55e;
  }

  > div > div {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  label {
    font-size: 0.85rem;
    font-weight: 500;
    color: #1f2937;
  }

  input {
    width: 100%;
    height: 36px;

    padding: 0 10px;

    border: 1px solid #d1d5db;
    border-radius: 5px;

    font-size: 0.85rem;

    background: #fff;
    outline: none;

    transition: all 0.2s ease;
  }

  input:focus {
    border-color: #22c55e;
    box-shadow: 0 0 0 2px rgba(34, 197, 94, 0.08);
  }

  @media (max-width: 768px) {
    padding: 16px;

    > div {
      grid-template-columns: 1fr;
    }

    h2 {
      font-size: 1.1rem;
    }
  }
}

.button {
  padding: 10px 24px;
  width: 25%;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin: auto;
  color: #1095c1;

  background:
    conic-gradient(#1ccf6cd8 0 0) no-repeat calc(200% - var(--p, 0%)) 100% /
      200% var(--p, 0.09em),
    #20d4626d;

  transition:
    0.3s var(--t, 0s),
    background-position 0.3s calc(0.3s - var(--t, 0s));

  &:hover {
    --p: 100%;
    --t: 0.3s;
    color: #fff;
  }

  button {
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
}
